body{
    background-image: url("https://images.financialexpress.com/2018/04/Yes-Bank-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 50px solid cornflowerblue;
    
}
h1{
    color: maroon;
    text-align: center;
}
b{
    color: maroon;
}
.col-sm-7{
    text-align: center;
    margin-block-end: 50px;
}
.col-sm-6{
     margin-block-start: 100px;
}
.account{
    border: 30px solid navajowhite
}